body{
    margin:0;
    padding:0;
    background-color: #61ADFF;
}


#header{
    background-color: white;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#categories {
    background-color: white;
    height: 80px;
    margin: 10px;
    border-radius: 10px;
}

.logo {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: auto;
}

#profile-image {
  width: 50px;        /* adjust size */
  height: 50px;       /* must match width */
  border-radius: 50%; /* makes it a circle */
  object-fit: cover;  /* prevents stretching */
}

#basket-image {
  width: 50px;        /* adjust size */
  height: 50px;       /* must match width */
  object-fit: cover;  /* prevents stretching */
  padding-right: 10px;
}
#search {
  display: flex;
  align-items: center;   /* vertical centering */
  gap: 15px;             /* space between image and search bar */
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.logo {
  width: 100px;
  height: auto;
  align-items: center;   /* vertical centering */
}

#search_bar {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

#search_bar input {
  flex: 1;
  padding: 10px 15px;

  border: 2px solid black;
  border-radius: 25px 0 0 25px; /* rounded left side */

  outline: none;
  font-size: 16px;
}

#search_bar button {
  padding: 10px 20px;

  border: 2px solid black;
  border-left: none; /* merges with input */
  border-radius: 0 25px 25px 0; /* rounded right side */

  background-color: lightblue;
  cursor: pointer;
  font-size: 16px;
}

.nav-container {
  display: flex;
  align-items: center;   /* vertically aligns image + bar */
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}


.category-bar {
  display: flex;
  flex: 1;   /* takes remaining space */
}

.category-bar a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  padding: 10px 0;
}

/* vertical dividers */
.category-bar a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background-color: black;
}





#Recommended_Products {
    background-color: white;
    border: 2px solid #61ADFF;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#Latest_Products {
    background-color: white;
    border: 2px solid #61ADFF;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#products-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 16px;
        padding-bottom: 5px;
        }

#latest-products-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 16px;
        padding-bottom: 5px;
        }

.product-card {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

#footer {
    display: flex;
    background: black;
    color: white;
    align-items: center;
    flex: 1;
    font-size: 12px;
}

.product-link {
  color: black;
  text-decoration: none;
}