body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* Header Content */

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #0064d2;
    height: 70px;
    padding: 0 15px;
    box-sizing: border-box;
    font-weight: bold;
}

#logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo img { height: 60%; width: auto; }

#page_details {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#account_details {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    height: 100%;
}

/* Main Content */

#main {
    display: flex;
    justify-content: center;
    margin: 70px auto 0 auto;
    gap: 20px;
}

#user_content {
    display: flex;
    flex-direction: column;
    background-color: #0064d2;
    padding: 10px;
    border-radius: 12px;
    width: 300px;
    height: min-content;
    gap: 10px;
}

#profile_pic {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 150px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

#profile_pic img {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    height: 80%;
    width: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

#account_info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    height: 100px;
    border-radius: 12px;
    
}

#listing_content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #0064d2;
    padding: 10px;
    border-radius: 12px;
}

#existing_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.carousel-window {
    width: 300px;
    height: 400px;

    overflow-y: auto;  
    overflow-x: hidden;
    scroll-behavior: smooth;

    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    box-sizing: border-box;


    scrollbar-width: thin;
    scrollbar-color: white ;
    
}

.carousel-track {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.slide {
    width: 300px;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid #ccc;
}

#no_listing.active {
    display: flex;
    flex-direction: column;
    gap: 2px
}

#listing_instruction {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    box-sizing: border-box;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

#add_listing_btn {
    align-self: flex-end;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

#adding_listing.active {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#itemName {
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
}

#itemName:focus {
    border-bottom: 2px solid #2f6d93;
}

#upload_images {
    display: flex;
    gap: 10px;
}

#upload_images label {
    flex: 1;
    display: block;
}

.imageBox {
    width: 100;
    height: 300px;
    box-sizing: border-box;

    background-color: #e0e0e0;
    border: 2px dashed #aaa;
    border-radius: 10px;
    cursor: pointer;

    background-size: cover;
    background-position: center;
}

.category_options input[type="radio"] {
    display: none;
}

.category_options label {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #eee;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.category_options label:hover {
    background-color: #ddd;
}

.category_options input[type="radio"]:checked + label {
    background-color: #2f6d93;
    color: white;
}

#desc {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    box-sizing: border-box;
}

.price_input {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.input_line {
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    background: transparent;
}

.input_line:focus {
    border-bottom: 2px solid #2f6d93;
}

.prices {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#submit_row {
    display: flex;
    justify-content: flex-end;
}

#listing_submit {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #eee;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

#listing_submit:hover {
    background-color: #2f6d93;
    color: white;
}

.viewing_state {display: none;}
.viewing_state.active {display: block}